<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->

        <property name = "hibernate.connection.driver_class" value = "com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <property name = "hibernate.connection.url" value = "jdbc:sqlserver://localhost\MSSQLSERVER:1433;integratedSecurity=true"/>
        <property name = "hibernate.connection.username" value = "sa"/>
        <property name = "hibernate.connection.password" value = ""/>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>
        <!-- Select our SQL dialect -->
        <property name = "hibernate.dialect" value="org.hibernate.dialect.SQLServerDialect"/>
        <!-- Echo the SQL to stdout -->
        <property name = "hibernate.show_sql" value="true"/>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping class="Objects.Factory.Account_Entity"/>
    </session-factory>
</hibernate-configuration>